examples/forwarder.json
[
    {
        "id": "b66a09e81ad59e7f",
        "type": "inject",
        "z": "3f7674b42690cbf6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "enable",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "96f4341ffed2d829"
            ]
        ]
    },
    {
        "id": "7626979605acc1fd",
        "type": "debug",
        "z": "3f7674b42690cbf6",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "96f4341ffed2d829",
        "type": "smart_forwarder",
        "z": "3f7674b42690cbf6",
        "name": "",
        "enabled": true,
        "always_forward_true": false,
        "always_forward_false": false,
        "forward_last_on_enable": true,
        "save_state": true,
        "resend_on_start": false,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "7626979605acc1fd"
            ]
        ]
    },
    {
        "id": "77cb71c53af51072",
        "type": "inject",
        "z": "3f7674b42690cbf6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "disable",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "96f4341ffed2d829"
            ]
        ]
    },
    {
        "id": "ede57c90bfaaa971",
        "type": "inject",
        "z": "3f7674b42690cbf6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "example",
        "payload": "42",
        "payloadType": "num",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "96f4341ffed2d829"
            ]
        ]
    },
    {
        "id": "be2437f2d4445321",
        "type": "inject",
        "z": "3f7674b42690cbf6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "example",
        "payload": "777",
        "payloadType": "num",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "96f4341ffed2d829"
            ]
        ]
    },
    {
        "id": "b6106e854b700e19",
        "type": "inject",
        "z": "3f7674b42690cbf6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_state",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "96f4341ffed2d829"
            ]
        ]
    },
    {
        "id": "9792032e7b2b7cfd",
        "type": "inject",
        "z": "3f7674b42690cbf6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_state",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "96f4341ffed2d829"
            ]
        ]
    },
    {
        "id": "10cea120d568feb8",
        "type": "inject",
        "z": "3f7674b42690cbf6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_state_inverted",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "96f4341ffed2d829"
            ]
        ]
    },
    {
        "id": "2454de5232c3e1f1",
        "type": "inject",
        "z": "3f7674b42690cbf6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_state_inverted",
        "payload": "false",
        "payloadType": "bool",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "96f4341ffed2d829"
            ]
        ]
    }
]