examples/hysteresis.json
[
    {
        "id": "f2004bf115b58fd3",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "26",
        "payloadType": "num",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "13a9ae291863de5d",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "ab4e87fa22585fd8",
        "type": "debug",
        "z": "c51a4aa01bcf08f4",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "592bd85753e315c1",
        "type": "smart_hysteresis",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "mode": "MIN_MAX",
        "setpoint": 300,
        "hysteresis": 60,
        "min": "240",
        "max": "360",
        "out_higher": "{\"topic\": \"higher\"}",
        "out_higher_type": "json",
        "out_lower": "{\"topic\": \"lower\"}",
        "out_lower_type": "json",
        "send_only_change": "true",
        "outputs": 2,
        "save_state": false,
        "resend_on_start": true,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "ab4e87fa22585fd8"
            ],
            [
                "265a590877075c4d"
            ]
        ]
    },
    {
        "id": "be58e48c9ec36b4c",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "setpoint",
        "payload": "20",
        "payloadType": "num",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "471e16a89781bada",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "hysteresis",
        "payload": "7",
        "payloadType": "num",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "c802f945cadf444c",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "setpoint",
        "payload": "55",
        "payloadType": "num",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "3c9f425d1cfd3119",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "hysteresis",
        "payload": "10",
        "payloadType": "num",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "0460eed27090315a",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "14",
        "payloadType": "num",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "d2f60fee0d2aa6ca",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "e8fbc9799f52928b",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "56d627323026926e",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50.1",
        "payloadType": "num",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "265a590877075c4d",
        "type": "debug",
        "z": "c51a4aa01bcf08f4",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "b6fe9109e6e7059b",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "ecbcf6dab035b978",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "3f56fce9fe3c2a1d",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "min",
        "payload": "20",
        "payloadType": "num",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "b0bf2bbaa516b06e",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "max",
        "payload": "7",
        "payloadType": "num",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "4c019b7fc67e9571",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "min",
        "payload": "55",
        "payloadType": "num",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    },
    {
        "id": "2756d50e7e98f2bb",
        "type": "inject",
        "z": "c51a4aa01bcf08f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "max",
        "payload": "10",
        "payloadType": "num",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "592bd85753e315c1"
            ]
        ]
    }
]