examples/logic.json
[
    {
        "id": "fe48580ae5a224cb",
        "type": "tab",
        "label": "Logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b97cd2d0f253bf1",
        "type": "smart_logic",
        "z": "fe48580ae5a224cb",
        "name": "",
        "logic": "AND",
        "logic_inputs": 2,
        "inverts": "",
        "invert_output": false,
        "out_false": "{}",
        "out_true": "{}",
        "save_state": true,
        "resend_on_start": true,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "6ca260c2526f32e0"
            ]
        ]
    },
    {
        "id": "6ca260c2526f32e0",
        "type": "debug",
        "z": "fe48580ae5a224cb",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "68b86155041f1115",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "4b97cd2d0f253bf1"
            ]
        ]
    },
    {
        "id": "87f6ee5c436cfa04",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "4b97cd2d0f253bf1"
            ]
        ]
    },
    {
        "id": "6bcbac1c8f25cf2e",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "2",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "4b97cd2d0f253bf1"
            ]
        ]
    },
    {
        "id": "69618bb4e2e9be47",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "2",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "4b97cd2d0f253bf1"
            ]
        ]
    },
    {
        "id": "a5224f8ef5435962",
        "type": "smart_logic",
        "z": "fe48580ae5a224cb",
        "name": "",
        "logic": "OR",
        "logic_inputs": 2,
        "inverts": "",
        "invert_output": false,
        "out_false": "{}",
        "out_true": "{}",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "a4a0030853d7a8c8"
            ]
        ]
    },
    {
        "id": "701a18fa6945c6fd",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "a5224f8ef5435962"
            ]
        ]
    },
    {
        "id": "c5a680382b169f40",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "a5224f8ef5435962"
            ]
        ]
    },
    {
        "id": "7c71bf7dfbc8cf6d",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "2",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "a5224f8ef5435962"
            ]
        ]
    },
    {
        "id": "5db243d7a586a9c7",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "2",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "a5224f8ef5435962"
            ]
        ]
    },
    {
        "id": "a4a0030853d7a8c8",
        "type": "debug",
        "z": "fe48580ae5a224cb",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "cb0e021909516c9c",
        "type": "smart_logic",
        "z": "fe48580ae5a224cb",
        "name": "",
        "logic": "XOR",
        "logic_inputs": 2,
        "inverts": "",
        "invert_output": false,
        "out_false": "{}",
        "out_true": "{}",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "c39b3f047bb92118"
            ]
        ]
    },
    {
        "id": "536a359df9a07ff8",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "cb0e021909516c9c"
            ]
        ]
    },
    {
        "id": "4bc71b4acf9df5f2",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "cb0e021909516c9c"
            ]
        ]
    },
    {
        "id": "b3703d995bed1631",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "2",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "cb0e021909516c9c"
            ]
        ]
    },
    {
        "id": "cfe90bbe83d7bf01",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "2",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "cb0e021909516c9c"
            ]
        ]
    },
    {
        "id": "c39b3f047bb92118",
        "type": "debug",
        "z": "fe48580ae5a224cb",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "85452958055151b4",
        "type": "smart_logic",
        "z": "fe48580ae5a224cb",
        "name": "NOT",
        "logic": "OR",
        "logic_inputs": "1",
        "inverts": "",
        "invert_output": true,
        "out_false": "{}",
        "out_true": "{}",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "22d45943db332752"
            ]
        ]
    },
    {
        "id": "6a5a943ca9daa830",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "85452958055151b4"
            ]
        ]
    },
    {
        "id": "18bb1a17101a51d8",
        "type": "inject",
        "z": "fe48580ae5a224cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "85452958055151b4"
            ]
        ]
    },
    {
        "id": "22d45943db332752",
        "type": "debug",
        "z": "fe48580ae5a224cb",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 700,
        "wires": []
    }
]