examples/mode-selector.json
[
    {
        "id": "b33aca888f9ec037",
        "type": "smart_mode-selector",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "outputs": 3,
        "mode_items": [
            {
                "name": "OFF"
            },
            {
                "name": "COOL"
            },
            {
                "name": "HEAT"
            }
        ],
        "update_only_changed_outputs": true,
        "resend_on_start": true,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "81ee5e80db7748e6"
            ],
            [
                "d3ee3b38834ce6d1"
            ],
            [
                "183f10a05472b8ce"
            ]
        ]
    },
    {
        "id": "cacd2123f498db13",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "refresh",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "b33aca888f9ec037"
            ]
        ]
    },
    {
        "id": "a4517f2fe26a78a3",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode",
        "payload": "OFF",
        "payloadType": "str",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "b33aca888f9ec037"
            ]
        ]
    },
    {
        "id": "d616bfb55d4b2e05",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode",
        "payload": "HEAT",
        "payloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "b33aca888f9ec037"
            ]
        ]
    },
    {
        "id": "34ec6475a0112da8",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode",
        "payload": "COOL",
        "payloadType": "str",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "b33aca888f9ec037"
            ]
        ]
    },
    {
        "id": "81ee5e80db7748e6",
        "type": "debug",
        "z": "e5afc2ee2cd84f5f",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "d3ee3b38834ce6d1",
        "type": "debug",
        "z": "e5afc2ee2cd84f5f",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "183f10a05472b8ce",
        "type": "debug",
        "z": "e5afc2ee2cd84f5f",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "4e7b09d07c9debda",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode",
        "payload": "INVALID",
        "payloadType": "str",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "b33aca888f9ec037"
            ]
        ]
    },
    {
        "id": "b7396258239591c4",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode_with_default",
        "payload": "OFF",
        "payloadType": "str",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "b33aca888f9ec037"
            ]
        ]
    },
    {
        "id": "a1a2dde948e7e8c0",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode_with_default",
        "payload": "HEAT",
        "payloadType": "str",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "b33aca888f9ec037"
            ]
        ]
    },
    {
        "id": "d108434f961c5794",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode_with_default",
        "payload": "COOL",
        "payloadType": "str",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "b33aca888f9ec037"
            ]
        ]
    },
    {
        "id": "6389fdc5da9dccbc",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode_with_default",
        "payload": "INVALID",
        "payloadType": "str",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "b33aca888f9ec037"
            ]
        ]
    }
]