examples/mode-selector-2.json
[
    {
        "id": "10bed778aa45fba9",
        "type": "smart_mode-selector",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "outputs": 3,
        "mode_items": [
            {
                "name": "OFF"
            },
            {
                "name": "COOL"
            },
            {
                "name": "HEAT"
            }
        ],
        "update_only_changed_outputs": true,
        "resend_on_start": true,
        "x": 540,
        "y": 940,
        "wires": [
            [
                "0450987de6744134"
            ],
            [
                "426fbfe213956970"
            ],
            [
                "3364e6bd6f626459"
            ]
        ]
    },
    {
        "id": "fa522fed02c6311e",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "refresh",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "5f811e8ebb093720",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode",
        "payload": "OFF",
        "payloadType": "str",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "cfa645fdb7f63bb7",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode#HEAT",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "8793fbedb7323608",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode#COOL",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 880,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "0450987de6744134",
        "type": "debug",
        "z": "e5afc2ee2cd84f5f",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 900,
        "wires": []
    },
    {
        "id": "426fbfe213956970",
        "type": "debug",
        "z": "e5afc2ee2cd84f5f",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 940,
        "wires": []
    },
    {
        "id": "3364e6bd6f626459",
        "type": "debug",
        "z": "e5afc2ee2cd84f5f",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 980,
        "wires": []
    },
    {
        "id": "a17f879cc0ab0bdd",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode#INVALID",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "7a690df24ee6d987",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "toggle_mode",
        "payload": "OFF",
        "payloadType": "str",
        "x": 150,
        "y": 1060,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "d7131ebc318d8b95",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "toggle_mode",
        "payload": "HEAT",
        "payloadType": "str",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "8bfa35408f20dc1a",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "toggle_mode",
        "payload": "COOL",
        "payloadType": "str",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "7b966913932ab629",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "toggle_mode",
        "payload": "INVALID",
        "payloadType": "str",
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "cd15893ad83850f2",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode#HEAT",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "59a0cec371499c34",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode#COOL",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 920,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "11c9512a37b9cb89",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_mode#INVALID",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    },
    {
        "id": "7456fd4d2939f625",
        "type": "inject",
        "z": "e5afc2ee2cd84f5f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "debug",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "10bed778aa45fba9"
            ]
        ]
    }
]